/Activity2/nbproject/private/
/Activity2/build/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/HelloWorld/dist/
/HelloWorld_1/nbproject/private/
/HelloWorld_1/build/
/HelloWorld_2/nbproject/private/
/HelloWorld_2/build/
/HelloWorld_3/nbproject/private/
/LogInMVC3/nbproject/private/
/LogInMVC3/build/
/LogInMVC4/nbproject/private/
/LogInMVC4/build/
/LogoutMVC5/nbproject/private/
/WebAct/nbproject/private/
/WebAct/build/
/Filters/nbproject/private/
/Filters/build/
/TravelSite/nbproject/private/
/TravelSite/build/
/Activity4/nbproject/private/
/Activity4/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/JSON/nbproject/private/
/JSON/build/