<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/AES?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="com/model/Course.hbm.xml"/>
    <mapping resource="com/model/CoursesAssigned.hbm.xml"/>
    <mapping resource="com/model/Chapter.hbm.xml"/>
    <mapping resource="com/model/ExamScores.hbm.xml"/>
    <mapping resource="com/model/Exam.hbm.xml"/>
    <mapping resource="com/model/UserDetails.hbm.xml"/>
    <mapping resource="com/model/UserType.hbm.xml"/>
    <mapping resource="com/model/Presentation.hbm.xml"/>
    <mapping resource="com/model/CourseCategory.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
